.footer {
  height: 200px;
  position: relative;
  justify-content: center;
}

.footer-content {
  font-family: var(--raleway);
  color: var(--font-color);
  font-size: 1vw;
  letter-spacing: 1.8px;
  line-height: 200px;
}
